<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ItuneSearchClientTestSuite">
    <test verbose="5" name="ItuneSearchClientTestPlan" parallel="true">
       <classes>
           <class name="org.itune.test.ItuneSearchClientTest"/>
       </classes>
    </test>
</suite>
